<!DOCTYPE html>
<html ng-app="barstoolFantasySports" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@barstoolfantasysports">
    <meta name="twitter:title" content="BarStoolFantasySports">
    <meta name="twitter:description" content="Barstool Fantasy Sports TODO DESCRIPTION">
    <meta name="twitter:creator" content="@barstoolfantasysports">
    <meta name="twitter:image:src" content="http://barstoolfantasysports.com/image-source.fill.this.in.TODO">
    <meta property="og:title" content="Barstool Fantasy Sports" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://barstoolfantasysports.com" />
    <meta property="og:image" content="http://barstoolfantasysports.com/image-source.fill.this.in.TODO" />
    <meta property="og:description" content="Barstool Fantasy Sports TODO DESCRIPTION">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet" type='text/css' />

    <!-- ADDED BY MIKE TO SATISFY ERRORS CAUSED BY DEFAULT BOILERPLATE CREAP... PICK A FONT AND REPLACE THIS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div class="container" ui-view="header"></div>
    <div class="container" ui-view="main"></div>
    <footer class="footer" ui-view="footer"></footer>
  </body>
</html>
