<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
      ng-click="menuCollapsed = ! menuCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">
      <a href ui-sref="contest.leaderboard">Barstool Fantasy Sports</a>
<!--       <small>
        <a href="http://github.com/ngbp/ngbp/blob/v<%= version %>-release/CHANGELOG.md">
          v<%= version %>
        </a>
      </small> -->
    </div>
  </div>
  <div class="collapse navbar-collapse" collapse="menuCollapsed">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a href ui-sref="ngBoilerplate.home">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li ui-sref-active="active">
        <a href ui-sref="ngBoilerplate.about">
          <i class="fa fa-info-circle"></i>
          What is it?
        </a>
      </li>
      <li ui-sref-active="active">
        <a href ui-sref="contest.leaderboard">
          <i class="fa fa-dollar"></i>
          Host a league!
        </a>
      </li>
      <li ui-sref-active="active">
        <a href ui-sref="ngBoilerplate.home">
          <i class="fa fa-envelope"></i>
          Contact Us
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="">
          <i class="fa fa-play"></i>
          Sign Up
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-sign-in"></i>
          Log In
        </a>
      </li>
    </ul>
  </div>
</div>
